audio {
  display: flex;
  margin: 15px auto 0 auto;
}

#fullscreen-button {
  position: absolute;
  right: 0;
  --background: black;
  z-index: 2;
  margin-right: 20px;
  margin-top: 20px;

  & svg {
    width: 25px;
    height: 25px;
    fill: #ffcd03;
  }
}

.action-button-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;

  & ion-button {
    width: 45px;
    height: 45px;
    --background: #ffcd03;
    border-radius: 12px;
    margin-left: 15px;

    & ion-icon {
      width: 25px;
      height: 25px;
      fill: black;
    }
  }

  & ion-button:active {
    opacity: 0.6;
  }
}

.font-size-buttons {
  display: flex;
  margin-right: 15px;
}

.button-type {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: #ffcd03;
  border: none;

  font-size: 18px;
  font-family: sans-serif;
}

#location-button {
  margin-left: 15px;
}

#increase-font-size {
  margin-right: 7px;
}

#increase-font-size:active {
  opacity: 0.6;
}

#decrease-font-size:active {
  opacity: 0.6;
}

#location-button:active {
  opacity: 0.6;
}

.scrollable-text {
  display: flex;
  width: 90%;
  height: 35vh;
  margin: 10px auto;
  overflow-y: auto;

  & p {
    line-height: 1.5em;
    margin: 0;
    font-family: sans-serif;
  }
}
