<app-page-header></app-page-header>

<app-fullscreen
  [openFullScreen]="openFull"
  (modeChange)="handleModeChange($event)"
></app-fullscreen>

<ion-button (click)="openFullscreenMode()" id="fullscreen-button">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="currentColor"
    class="size-6"
  >
    <path
      fill-rule="evenodd"
      d="M15 3.75a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0V5.56l-3.97 3.97a.75.75 0 1 1-1.06-1.06l3.97-3.97h-2.69a.75.75 0 0 1-.75-.75Zm-12 0A.75.75 0 0 1 3.75 3h4.5a.75.75 0 0 1 0 1.5H5.56l3.97 3.97a.75.75 0 0 1-1.06 1.06L4.5 5.56v2.69a.75.75 0 0 1-1.5 0v-4.5Zm11.47 11.78a.75.75 0 1 1 1.06-1.06l3.97 3.97v-2.69a.75.75 0 0 1 1.5 0v4.5a.75.75 0 0 1-.75.75h-4.5a.75.75 0 0 1 0-1.5h2.69l-3.97-3.97Zm-4.94-1.06a.75.75 0 0 1 0 1.06L5.56 19.5h2.69a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 1 1.5 0v2.69l3.97-3.97a.75.75 0 0 1 1.06 0Z"
      clip-rule="evenodd"
    />
  </svg>
</ion-button>

<app-carrusel></app-carrusel>

<app-modal [open]="open" (toggleModal)="handleToggle($event)"></app-modal>

<audio controls src="assets/audio/sound.mp3"></audio>

<div class="action-button-container">
  <ion-button (click)="openModal()">
    <ion-icon slot="icon-only" name="location"></ion-icon>
  </ion-button>

  <div class="font-size-buttons">
    <button
      (click)="increaseFontSize()"
      id="increase-font-size"
      class="button-type"
    >
      A+
    </button>
    <button
      (click)="decreaseFontSize()"
      id="decrease-font-size"
      class="button-type"
    >
      A-
    </button>
  </div>
</div>

<app-section-title></app-section-title>

<div class="scrollable-text">
  <p id="scrollable-text">
    ¡Estás a punto de emprender un viaje por la historia postal y telegráfica de
    España! En este museo no solo vas a ver piezas fascinantes para los amantes
    de la filatelia, como el primer sello emitido en nuestro país. También
    descubrirás las aportaciones españolas que han contribuido al desarrollo
    tecnológico de la telegrafía; objetos curiosos, como las cartas jeroglíficas
    o las cartas escritas en pan de munición; o un cuadro de Joaquín Sorolla
    vinculado con la historia postal y telegráfica. Además, con esta guía podrás
    jugar y adentrarte en lugares como un vagón de Correos o en una torre de
    telegrafía óptica. ¡Esperamos que disfrutes de tu visita! Recuerda hacer un
    buen uso de esta guía y devolverla a la entrada del museo. ¡Empezamos!
    ¡Estás a punto de emprender un viaje por la historia postal y telegráfica de
    España! En este museo no solo vas a ver piezas fascinantes para los amantes
    de la filatelia, como el primer sello emitido en nuestro país. También
    descubrirás las aportaciones españolas que han contribuido al desarrollo
    tecnológico de la telegrafía; objetos curiosos, como las cartas jeroglíficas
    o las cartas escritas en pan de munición; o un cuadro de Joaquín Sorolla
    vinculado con la historia postal y telegráfica. Además, con esta guía podrás
    jugar y adentrarte en lugares como un vagón de Correos o en una torre de
    telegrafía óptica. ¡Esperamos que disfrutes de tu visita! Recuerda hacer un
    buen uso de esta guía y devolverla a la entrada del museo. ¡Empezamos!
  </p>
</div>
